@model Umbraco_InternShip_MVC.ViewModel.FormSubmissionsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Acme Corporation Draw </title>
</head>
<body>

    @{
        <h1 class="mb-5 text-center">Submitted forms</h1>

        <table class="table">
            <tr>
                <td>
                    ID
                </td>

                <td>
                    First name
                </td>

                <td>
                    Last name
                </td>

                <td>
                    Email address
                </td>

                <td>
                    Serial Number used
                </td>
            </tr>
        </table>

        for (int i = 0; i < Model._userDraws.Count; i++)
        {
            <table class="table">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem._userDraws[0].Id)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => modelItem._userDraws[0].FirstName)
                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => modelItem._userDraws[0].LastName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => modelItem._userDraws[0].EmailAddress)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => modelItem._serialNumbers[i].SerialNumberValue)
                    </td>
                </tr>
            </table>
        }

    }
</body>

